.navbar {
  display: flex;
  align-items: center;
}

.navbar-container {
  height: 64px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px 1px lightgray;
  margin-bottom: 16px;
  min-width: 100%;
}

.navbar p {
  font-size: 18px;
  color: #4a4a4a;
  font-family: "Lato", sans-serif;
}

.navbar-icon {
  display: flex;
}

.group-icon {
  fill: #2081c3;
  font-size: 18px;
  margin: 5px;
}

.index-container {
  height: fit-content;
  min-width: 344px;
}
